:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --text-tooltip: #000000;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    margin: 0;
}

.home-section {
    font-family: 'Merriweather Sans', sans-serif;
}

.container {
    display: flex;
    gap: 1.3rem;
    width: 100%;
    max-width: 100vw;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 100%;
    max-width: 22vw;
    margin-block-start: 1.1vh;
    margin-inline-start: 0.5vw;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 1.35rem;
    width: 100%;
    max-width: 77vw;
    margin-block-start: 1.1vh;
    margin-inline-start: 0.5vw;
    margin-inline-end: 1.5rem;
    margin-block-end: 0.5rem;
}

.box-projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19em, 1fr));
    gap: .3rem;
}

.box-posts {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    margin-block-end: 0.5rem;
}

@media only screen and (max-width: 420px) {

    .container {
        display: grid;
        width: 100%;
        max-width: 100vw;
    }

    section.left {
        width: 100%;
        max-width: 100vw;
    }

    section.right {
        width: 100%;
        max-width: 100vw;
    }

}